body { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "javanese text";
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    justify-items: center;
}

#katze {
    color: black;
    grid-column: 3;
    font-size: xx-small;
    height: 2px;
}

#deKatze{
    grid-column: 3;
    height: 700px;
    width: 700px;
}

header a {
    color: white;
    text-decoration: none;
    grid-column: 2;
}

header h1 {
    color: white;
    text-decoration: none;
    grid-column: 2;
}

.subheader {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: rgb(19, 19, 19);
}

.subheader p {
    color: white;
    text-decoration: none;
    width: 200%;
    margin-left: 165%;
}

#y1s2 {
    grid-column: 3;
    margin-left: 60px;
}

#y2s1 {
    grid-column: 4;
    margin-left: 60px;
}

.currentPage {
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

main {
    display: grid;
    background-image: url(../image/bgImage.png);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.item {
    height: 150px;
    width: 200px;
    background-color: rgb(245, 245, 245);
    border-radius: 10%;
    margin-top: 50px;
    margin-left: -100px;
    text-align: center;
}

.kopje {
    display: flex;
    color: black;
    font-weight: bold;
    justify-content: center;
}

#langKopje {
    margin-top: -2px;
}

.openFile {
    margin-top: -10px;
    width: 30%;
}

#item1 {
    grid-column: 2;
    grid-row: 1;
}

#item2 {
    grid-column: 3;
    grid-row: 1;
}

#item3 {
    grid-column: 4;
    grid-row: 1;
}

#item4 {
    grid-column: 5;
    grid-row: 1;
}

#item5 {
    grid-column: 2;
    grid-row: 3;
}

#item6 {
    grid-column: 3;
    grid-row: 3;
}

#item7 {
    grid-column: 4;
    grid-row: 3;
}

#item8 {
    grid-column: 5;
    grid-row: 3;
}

#item9 {
    grid-column: 2;
    grid-row: 5;
}

#item10 {
    grid-column: 3;
    grid-row: 5;
}

#item11 {
    grid-column: 4;
    grid-row: 5;
}

#item12 {
    grid-column: 5;
    grid-row: 5;
}

.file {
    grid-column: 2;
    margin-top: 150px;
    width: 300%;
    height: 500px;
    border-style: none;
}

#feedback {
    height: 5000px;
}

#advies {
    height: 1500px;
}

h2 {
    color: white;
    width: 250%;
    margin-left: 25%;
    font-size: 17px;
    text-align: center;
    grid-column: 2;
}

#kop1 {
    grid-row: 3;
}

#kop2 {
    grid-row: 4;
}

#kop3 {
    grid-row: 5;
}

#kopie {
    grid-row: 2;
    color: red;
}

video {
    grid-column: 2;
    margin-top: 150px;
    width: 300%;
    height: 500px;
    border-style: none;
}

#ethiekfoto {
    width: 230%;
    margin-top: 750px;
}

.info {
    color: white;
    text-align: center;
    margin-left: 550px;
    width: 400px;
    max-height: 100px;
}

.fileChemie {
    margin-top: 150px;
    width: 500px;
    height: 500px;
    margin-left: -440px;
    border-style: none;
}

.fototje {
    width: 400px;
    margin-top: 150px;
    margin-left: -410px;
}

#uitwerking1 {
    margin-left: -670px;
}

#uitwerking2 {
    margin-left: -250px;
}

#uitwerkingPdf {
    margin-top: 750px;
    margin-left: -740px;
}

#voorbereiding1 {
    width: 400px;
    margin-left: -850px;
    margin-top: 150px;
}

#voorbereiding2 {
    margin-left: -480px;
}

#voorbereiding3 {
    margin-left: -100px;
}

#voorbereidingPdf {
    margin-top: 800px;
    margin-left: -940px;
}

#antonenPdf {
    margin-top: 170px;
    margin-left: -460px;
}

.profKopje {
    color: white;
    text-align: center;
    width: 400px;
}

#profKopje1 {
    margin-left: 565px;
}

#profKopje2 {
    margin-left: -620px;
    margin-top: 220px;
}

#profKopje3 {
    margin-left: -630px;
    margin-top: 400px;
}

.profInfo {
    color:white;
    text-align: center;
    width: 500px;
    margin-top: 70px;
    margin-left: -450px;
}

#profInfo2 {
    margin-top: 270px;
    margin-left: -800px;
}

#persLink {
    color: cyan;
    margin-top: 400px;
    margin-left: -730px;
}

#KQ1 {
    width: 400px;
    margin-left: 280px;
}

#KQ2 {
    width: 400px;
    margin-left: -200px;
}