body { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "javanese text";
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    justify-items: center;
}

#katze {
    color: black;
    grid-column: 3;
    font-size: xx-small;
    height: 2px;
}

#deKatze{
    grid-column: 3;
    height: 700px;
    width: 700px;
}

header a {
    color: white;
    text-decoration: none;
    grid-column: 2;
}

header h1 {
    color: white;
    text-decoration: none;
    grid-column: 2;
}

.subheader {
    display: grid;
    background-color: rgb(19, 19, 19);
}

.subheader p {
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color: white;
    grid-column: 2;
    text-decoration: none;
    width: 120px;
}

main {
    display: grid;
    background-image: url(../image/bgImage.png);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.item {
    height: 150px;
    width: 200px;
    background-color: rgb(245, 245, 245);
    border-radius: 10%;
    margin-top: 50px;
    margin-left: -100px;
}

.kopje {
    display: flex;
    color: black;
    font-weight: bold;
    justify-content: center;
}

.openFile {
    margin-top: -10px;
    margin-left: 67px;
}

#item1 {
    grid-column: 2;
    grid-row: 1;
}

#item2 {
    grid-column: 3;
    grid-row: 1;
}

#item3 {
    grid-column: 4;
    grid-row: 1;
}

#item4 {
    grid-column: 5;
    grid-row: 1;
}

#item5 {
    grid-column: 2;
    grid-row: 3;
}

#item6 {
    grid-column: 3;
    grid-row: 3;
}

#item7 {
    grid-column: 4;
    grid-row: 3;
}

#item8 {
    grid-column: 5;
    grid-row: 3;
}

#item9 {
    grid-column: 3;
    grid-row: 5;
}

#item10 {
    grid-column: 4  ;
    grid-row: 5;
}

.file {
    grid-column: 2;
    margin-top: 150px;
    width: 300%;
    height: 500px;
    border-style: none;
}

#feedback {
    height: 5000px;
}

#PVA {
    height: 1500px;
}

#PVA h2 {
    color: red;
}

h2 {
    color: white;
    width: 250%;
    margin-left: 25%;
    font-size: 17px;
    text-align: center;
    grid-column: 2;
}

#kop1 {
    grid-row: 3;
}

#kop2 {
    grid-row: 4;
}

#kop3 {
    grid-row: 5;
}

#kopie {
    grid-row: 2;
    color: red;
}

video {
    grid-column: 2;
    margin-top: 150px;
    width: 300%;
    height: 500px;
    border-style: none;
}
